<div class="container my-4">
  <div class="cards">
    <% @watchlists.each do |element| %>

        <div class="card-product">

          <%= link_to watchlist_path(element.id) do  %>
            <% if element.movie.poster_path.nil? %>
              <%= image_tag "movie_icon.jpg", alt: "#{movie.title}" %>
            <% else %>
              <img src="https://image.tmdb.org/t/p/w185<%= element.movie.poster_path %>" alt="#{movie.title}" />
            <% end %>
          <% end %>

          <div class="card-product-infos">
            <h2><%= link_to element.movie.title, watchlist_path(element.id) %></h2>
            <p>
              <% movie_genre = [] %>
              <% element.movie.genres.each do |genre| %>
                <% movie_genre << genre %>
              <% end %>
              <%= movie_genre.join(" | ") %>
            </p>
            <p><%= link_to "Remove from my watchlist", watchlist_path(element), method: :delete  %></p>
          </div>
        </div>

    <% end %>
  </div>
</div>
