<div class="container my-4">
  <h1>My watchlist <i>(<%= pluralize(@watchlists.count, 'movie') %>)</i></h1>

  <div class="my-4">
    <%= form_with url: watchlists_path, method: :get, class: 'form-inline' do |form| %>
      <%= form.text_field :query, class: "form-control flex-grow-1 mr-2", placeholder: "Find a movie in my watchlist" %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="cards">
    <% @watchlists.each do |element| %>

        <div class="card-product">
          <%= link_to watchlist_path(element.id) do  %>
            <% if element.movie.poster_path.nil? %>
              <%= image_tag "movie_icon.jpg", alt: "#{movie.title}" %>
            <% else %>
              <img src="https://image.tmdb.org/t/p/w185<%= element.movie.poster_path %>" alt="#{movie.title}" />
            <% end %>
          <% end %>

          <div class="card-product-infos">
            <h2><%= link_to element.movie.title, watchlist_path(element.id) %></h2>
            <p>
              <% movie_genre = [] %>
              <% element.movie.genres.each do |genre| %>
                <% movie_genre << genre %>
              <% end %>
              <%= movie_genre.join(" | ") %>
            </p>
            <p><%= link_to "Remove from my watchlist", watchlist_path(element), method: :delete  %></p>
            <% if element.seen? %>
              <p><%= link_to "Mark as not seen", mark_as_not_seen_path(element) %></p>
            <% else %>
              <p><%= link_to "Mark as seen", mark_as_seen_path(element) %></p>
            <% end %>
          </div>
        </div>

    <% end %>
  </div>
</div>


<div class="container">
  <div class="pagy">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
