<div class="container">
  <div class="row my-4">

    <div class="col-12 col-lg-4">
      <div class="movie-poster">
        <% if @movie.poster_path.nil? %>
          <%= image_tag("movie_icon.jpg", alt: "#{@movie.title}", style:"width: 185px; height: auto") %>
        <% else %>
          <img src="https://image.tmdb.org/t/p/w342<%= @movie.poster_path %>" alt="#{@movie.title}" />
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <h1><%= @movie.title %></h1>
      <% if current_user.movies.map(&:id).include? @movie.id %>
        <p><%= link_to "Remove from Watchlist", movie_path(@movie.id), method: :delete %></p>
      <% else %>
        <p><%= link_to "Add to my watchlist", movie_path(@movie.id), method: :post %></p>
      <% end %>
      <h4>
        <%= @movie.genres.join(" | ") %>
      </h4>
      <h4>Runtime: <%= @movie.runtime %> minutes</h4>
      <h4>Rating: <%= @movie.vote_average %>/10</h4>
      <h5>Release date: <%= @movie.release_date.to_date.strftime("%B, %Y") %></h5>
      <h5>Director</h5>
      <p><%= @movie.directors.join(", ") %></p>
      <h5>Cast</h5>
        <%= @movie.cast.join(", ") %></p>
    </div>

  </div>

  <% if !@movie.trailer_key.blank? %>
    <div class="row my-4">
      <div class="col-12">
        <iframe width="600" height="340" src="https://www.youtube.com/embed/<%= @movie.trailer_key %>"></iframe>
      </div>
    </div>
  <% end %>

  <div class="row my-4">
    <div class="col-12">
      <h3>Overview</h3>
      <%= @movie.overview %>
    </div>
  </div>

</div>
