<div class="container">
  <h1 class="my-4">New event</h1>

    <%= form_with model: @event do |f| %>
      <div><%= f.file_field :photo %></div>
      <div class="my-4"><%= f.text_field :name, placeholder: "Your event name" %></div>
      <div class="my-4">
        <h5>Select your attending friends</h5>
      </div>
      <%= f.collection_check_boxes :user_id, current_user.friends, :id, :full_name do |u| %>
        <ul class="friends-list">
          <li class="no-bullet"><%= u.check_box %> <%= u.text %> <%= image_tag "user_icon.png", class: "avatar" %></li>
        </ul>
      <% end %>
      <%= f.submit "Let's go!", class: 'btn btn-primary shadow' %>
    <% end %>

</div>
